.banner {
	width: 100%;
	background-color: #22364e;
	color: #ced0d1;
}
.banner__headline-wrapper {
	margin-top: 30px;
	padding-top: 30px;
	text-align: center;
}
.banner__headline h1 {
	font: bold 40px/57px "Rubik", sans-serif;
}
.banner__headline p {
	font-size: 20px;
}
.banner__image img {
	width: 1000px;
	height: 600px;
	margin-top: -140px;
}
.display_row {
	display: inline-block;
	width: 350px;
}
.banner__bottomline-top {
	text-align: center;
	padding-bottom: 30px;
}